@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, 
.canvas {
    font-family: 'Roboto', sans-serif;
    background-image: url('../images/background.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    top: 0;
    text-transform: capitalize;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    font-size: 1.15rem;
    margin-top: 1rem;
}

.right-side,
.left-side {
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1px;
    color: white;
}

.right-side 
a {
    text-decoration: none;
    color: inherit;
}

.container {
    /* width: 100%; */
    height: 460px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    place-items: center;
    gap: 30px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: -2.6rem;
}

.box {
    position: relative;
    height: 120px;
    width: 130px;
    overflow: hidden;
    pointer-events: none;  
}

.character {
    /* background: #000; */
    /* background: url('/assets/images/4.png'); */
    position: absolute;
    height: 100px;
    width: 130px;
    object-fit: contain;
    top: 130px;
    left: 0;
    z-index: -1;
    cursor: pointer;
}

.fence {
    position: absolute;
    pointer-events: none;
    width: 150px;
    object-fit: cover;
    bottom: -0.5px;
    left: -7px;
}